
.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

*{
   
    padding: auto;
    text-align: center;
}
h1,h3{
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.card-header{
    background-color: aliceblue;
    color: #000000;
}
