
:root {
    --background-color: #fff;
    --slider-background-color: #ccc;
    --slider-circle-color: #ffffff;
    --dark:#f0efef;
    --semi-dark:#e2e2e2;
    --light:#333333;
  }


  .row form{
    max-width: fit-content;
  }
  .contact_us_img{
   
  width: fit-content;
  display: flex;
  left: 50px;
  padding: inherit;
  margin: auto;
  }
    

   @media screen and (min-width: 1200px) {
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;         
    }
     
.row {
   max-width: 6000px;
            margin: 40px ;
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
       
}

.contact_us h1{
 text-align: center;
    margin: 20px;
    font-size: 30px;
    color: var(--light);
    font-weight: bold;
    text-shadow: 0px 0px 10px cyan,
     0px 0px 20px rgba(0, 255, 255, 0.281),
         0px 0px 40px rgba(0, 255, 255, 0.363),
          0px 0px 100px rgba(0, 255, 255, 0.623);

} 
.contact_us p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--light);
}
.contact_us label {
    color: var(--light);
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact_us input,
.contact_us textarea {
all: unset;
   color: var(--light);
   border: 1px solid #999797;
   border-radius: 5px;
    padding: 10px 160px ;
    
    font-size: 18px;
}
.contact_us input:is(:focus){
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
   
}
.contact_us textarea:is(:focus){ 
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
}
.send_me {
    padding: 10px 20px;
    background: #560bed;
    color: #f7f2f2;
   
}

}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;         
    }
.row {
 max-width: 500px;
            margin: 40px auto;
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact_us h1{
 text-align: center;
    margin: 20px;
    font-size: 30px;
    color: var(--light);
    font-weight: bold;
    text-shadow: 0px 0px 10px cyan,
     0px 0px 20px rgba(0, 255, 255, 0.281),
         0px 0px 40px rgba(0, 255, 255, 0.363),
          0px 0px 100px rgba(0, 255, 255, 0.623);

} 
.contact_us p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--light);
}
.contact_us label {
    color: var(--light);
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact_us input,
.contact_us textarea {
all: unset;
   color: var(--light);
   border: 1px solid #999797;
   border-radius: 5px;
    padding: 10px 150px ;
    
    font-size: 10px;
}
.contact_us input:is(:focus){
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
   
}
.contact_us textarea:is(:focus){ 
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
}
.send_me {
    padding: 10px 20px;
    background: #560bed;
    color: #f7f2f2;
   
}
}
@media screen and (max-width: 768px) {
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;         
    }
    .row {
     max-width: 400px;
            margin: 40px auto;
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
}


.contact_us h1{
 text-align: center;
    margin: 20px;
    font-size: 30px;
    color: var(--light);
    font-weight: bold;
    text-shadow: 0px 0px 10px cyan,
     0px 0px 20px rgba(0, 255, 255, 0.281),
         0px 0px 40px rgba(0, 255, 255, 0.363),
          0px 0px 100px rgba(0, 255, 255, 0.623);

} 
.contact_us p {
   
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--light);
}
.contact_us label {
    color: var(--light);
    font-size: 20px;
    margin-bottom: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact_us input,
.contact_us textarea {
all: unset;
   color: var(--light);
   border: 1px solid #999797;
   border-radius: 5px;
    padding: 10px 100px ;
    
    font-size: 8px;
}
.contact_us input:is(:focus){
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
   
}
.contact_us textarea:is(:focus){ 
    border: 3px solid transparent;
   transition: all 0.1s ease;
    background:linear-gradient(var(--dark),var(--semi-dark)) padding-box,linear-gradient(45deg,blue,red) border-box;
}
.send_me {
    padding:10px 20px;
    background: #560bed;
    color: #f7f2f2;
   
}
}


/*
.send_me:before {
    background: #560bed;
    height: 150px;
    width: 150px;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
.send_me:hover::before {
top: -30px;
left: -30px;
  
}
.send_me:active::before {
    background: #3a0ca3;
    transition: background 0.3s;

}*/