
:root {
    --background-color: #fff;
    --slider-background-color: #ccc;
    --slider-circle-color: #ffffff;
    --dark:#f0efef;
    --semi-dark:#e2e2e2;
    --light:#333333;
    --shadow:#000000d5;

  }

  @media screen and (min-width: 1200px) {
  body {
     background: linear-gradient(140deg, #4d79f3a8 -50%, #ffffff73);
    transition: background-color 0.3s ease, color 0.3s ease;         
    }
.head_menu{
    box-sizing: border-box;
  position: relative;
  background: var(--dark);
  color: var(--light);
  height: 120px;
  border-radius: 8px;
  display: flex;
  padding: 0 20px;
    align-items: center;
    font-family: 'poppins';
}
.head_menu a{
    color: var(--light);
    
}
.head_menu li{
    position: relative;
    list-style: none;
}
.head_menu li span{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    transition-delay: 0s;
}
.head_menu a{
    z-index: 100;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;  
    border-radius: 8px;
    font-size: 24px;
    position: relative;
    transition: all 0.3s ease;

}
.head_menu li span {
    opacity: 0;
    visibility: hidden;
}
.head_menu .indicator{
    position: absolute;
    top: 0;
    left: 20px;
    width: 60px;
    height: 60px;
    background: var(--dark);
    border: 4px solid var(--light);
    border-radius: 50%;
    transition: all 0.3s ease;

}
.head_menu li a.active+span {
    top: 50%;
    opacity: 1;
    visibility: visible;
   transition-delay: 0.1s;
}
.head_menu a.active {
   width: 60px;
   height: 60px;
   top: -30px;
}
.head_menu a.active:hover {
   background: transparent;
}
.head_menu a:hover {
   background: var(--semi-dark);
}
  
.special-heading {
    color: #8289902b;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #3b489c;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
         background: linear-gradient(140deg, #4d79f3a8 -50%, #ffffff73);
        transition: background-color 0.3s ease, color 0.3s ease;         
        }
.head_menu{
        box-sizing: border-box;
    position: relative;
    background: var(--dark);
    color: var(--light);
    height: 120px;
    border-radius: 8px;
    display: flex;
    padding: 0 20px;
        align-items: center;
        font-family: 'poppins';
}
.head_menu a{
        color: var(--light);
        
}
.head_menu li{
        position: relative;
        list-style: none;
}
.head_menu li span{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease;
        transition-delay: 0s;
}
.head_menu a{
        z-index: 100;
        text-decoration: none;
        width: 50px;
        height: 50px;
        display: flex;
        top: 0;
        justify-content: center;
        align-items: center;  
        border-radius: 8px;
        font-size: 24px;
        position: relative;
        transition: all 0.3s ease;

}
.head_menu li span {
        opacity: 0;
        visibility: hidden;
}
.head_menu .indicator{
        position: absolute;
        top: 0;
        left: 20px;
        width: 60px;
        height: 60px;
        background: var(--dark);
        border: 4px solid var(--light);
        border-radius: 50%;
        transition: all 0.3s ease;

}
.head_menu li a.active+span {
        top: 50%;
        opacity: 1;
        visibility: visible;
     transition-delay: 0.1s;
}
.head_menu a.active {
     width: 60px;
     height: 60px;
     top: -30px;
}
.head_menu a.active:hover {
     background: transparent;
}
.head_menu a:hover {
     background: var(--semi-dark);
}
    
.special-heading {
        color: #8289902b;
        font-size: 100px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0;
}

.special-heading+p {
        margin: -30px 0 0;
        font-size: 20px;
        text-align: center;
        color: #3b489c;
}
}

@media screen and (max-width: 767px) {
    body {
        background: linear-gradient(140deg, #4d79f3a8 -50%, #ffffff73);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .head_menu {
        box-sizing: border-box;
        position: relative;
        background: var(--dark);
        color: var(--light);
        height: 120px;
        border-radius: 8px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        font-family: 'poppins';
    }
    .head_menu a {
        color: var(--light);
    }
    .head_menu li {
        position: relative;
        list-style: none;
    }
    .head_menu li span {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease;
        transition-delay: 0s;
    }
    .head_menu a {
        z-index: 100;
        text-decoration: none;
        width: 50px;
        height: 50px;
        display: flex;
        top: 0;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 24px;
        position: relative;
        transition: all 0.3s ease;
    }
    .head_menu li span {
        opacity: 0;
        visibility: hidden;
    }
    .head_menu .indicator {
        position: absolute;
        top: 0;
        left: 20px;
        width: 60px;
        height: 60px;
        background: var(--dark);
        border: 4px solid var(--light);
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    .head_menu li a.active + span {
        top: 50%;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.1s;
    }
    .head_menu a.active {
        width: 60px;
        height: 60px;
        top: -30px;
    }
    .head_menu a.active:hover {
        background: transparent;
    }
    .head_menu a:hover {
        background: var(--semi-dark);
    }
    .special-heading {
        color: #8289902b;
        font-size: 100px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0;
    }
    .special-heading + p {
        margin: -30px 0 0;
        font-size: 20px;
        text-align: center;
        color: #3b489c;
    }
}


        

